


.carousel-cell{
    
    width: 281px;
    min-height: 281px;
    max-height: 400px;
    max-width: 400px;
    background-size: cover;
    background-position: center center;
}
@media screen and ( min-width: 768px ) {
    /* half-width cells for larger devices */
    .carousel-cell { width: 40%;height: 632px; }
  }
.carousel-cell::before{
    display: block;
    content: '';
}
.carousel{
    margin-top: 40px;
    box-sizing: border-box;
}


/* position dots in carousel */
.flickity-page-dots {
    display: none;
  }







.imgs_insta a{
    height: 500px;
    background-size: cover;
    background-position: center center;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.black_hover{
    opacity: 0;
    height: 100%;
}
.black_hover:hover{
    animation: opacity 0.3s forwards;
}

@keyframes opacity {
    to{
        background-color:  rgba(0, 0, 0, 0.3);
        opacity: 1;
        
    }
}
/* 
/* 
.img_insta{
    height: 100px;
    width: 100px;
} */